<!DOCTYPE html>
   <head>
	  <link rel="icon" href="../static/MJRoBot_Avatar_1.jpg">
	  <meta charset="UTF-8">
      <title>CovidCT</title>
      <link rel="stylesheet" href='../static/style.css'/>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            body {
                background: #858383;
                color: white;
                text-align: center;
                font-family: Arial;
            }
        </style>
   </head>
 <body>
	 <img src="{{ url_for('static', filename='ct.png')}}" width="30%"/>
    <h1>CovidCT</h1>
    <h1>CT Covid-19 Detection using AI</h1>
    <h2>Proof-of-concept Application</h2>
	<hr>
    <h3>[WARNING] - Only for didactic purposes (See Disclaimer at bottom)</h3>
 	<hr>
    <!--链接回query函数的url-->
	<form action="{{ url_for('CTquery') }}" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    <hr>
    <br>
    <h2>Analysis Result :</h2>

    {% if prediction == 'COVID'  %}
          <h1 style="color:red;"> [{{prediction}}]    </h1>

     {% elif prediction == 'NORMAL' %}
     <h1 style="color:green;"> [{{prediction}}]    </h1>
    {% else %}

    {%endif%}
    <h2> Confidence: {{confidence}}%</h2>
    <br>
    <h4> Image File Name: {{filename}} </h4>

    {% if confidence == 0  %}
          <img src="{{ url_for('static', filename='Image_No_Pred_MJRoBot.png')}}" width="80%"/>
    {% else %}
        <!--这个地方有返回的ct_iamge图像-->
          <img src="{{ ct_image }}", width="40%"/>
    {% endif %}


     <br>
     <p align="center"> <a href= "http://127.0.0.1:5000/"/><button class="button" style="font-size:15px; height: 50px;width: 70px">Back</button> </a>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "http://127.0.0.1:5002/"/><button class="button" style="font-size:15px; height: 50px;width: 70px">Clear</button> </a>
     </p>
     <h4>Disclaimer</h4>
     <p>This deployment of an automatic COVID-19 detection is for educational purposes only. It is not meant to be a reliable, highly accurate COVID-19 diagnosis system, nor has it been professionally or academically vetted.<p/>
   </body>
</html>
