<!DOCTYPE html>
<head>
	  <link rel="icon" href="../static/MJRoBot_Avatar_1.jpg">
	  <meta charset="UTF-8">
      <title>Welcome!</title>
      <link rel="stylesheet" href='../static/style.css'/>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            body {
                background: #969595;
                color: white;
                text-align: center;
                font-family: Arial;
            }
        </style>
   </head>

<body>
    <h1 style="font-weight:bold;font-size:60px;">AI MEDICAL HELPER</h1>
    <img src="{{ url_for('static', filename='healthcare-collage.jpg')}}" width="40%"/>

         <p align="center">
             <a href= "http://127.0.0.1:5001/"><button class="button" style="font-size:15px;height: 75px;width: 150px">COVID X-ray</button> </a>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href= "http://127.0.0.1:5002/"><button class="button" style="font-size:15px;height: 75px;width: 150px">COVID CT</button> </a>
         </p>

         <p align="center">
             <a href= "http://127.0.0.1:5004/"><button class="button" style="font-size:15px;height: 75px;width: 150px">COVID Lung Infection</button> </a>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href= "http://127.0.0.1:5005/"><button class="button" style="font-size:15px;height: 75px;width: 150px">Bone Suppression</button> </a>
         </p>



         <p align="center">
             <a href= "http://127.0.0.1:5007/"><button class="button" style="font-size:15px;height: 75px;width: 150px">Brain Tumor MRI</button> </a>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <a href= "http://127.0.0.1:5006/"><button class="button" style="font-size:15px;height: 75px;width: 150px">Endoscopic Artifacts</button> </a>
         </p>




</body>
</html>
